body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.content {width: 100%}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


table {
  width:100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  background:#eaebec;
  margin:0 auto;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;

  margin-top: 10px;
  margin-bottom: 10px;
}

table table {width: 100%;}
table th {
  padding:5px 10px 5px 10px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  text-shadow: 1px 1px 0px #fff;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  font-weight: bold;
}

table tr{
  text-align: left;
  padding-left:20px;
}

table tr td {
  padding:0px 4px 0px 4px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fff);

}

table tr td input[type="text"]  {width: 100%}
table tr td select  {width: 100%}


.even, table tr.even td{
  background: #ffffef;

}
table tr:last-child td{
  border-bottom:0;
}

table tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


#popup {position: fixed !important;
        background-color: white;
        box-shadow: 5px 7px 8px #555555;
        min-height: 50px;
        display: none;
        z-index: 3003;
        top: 50px;
}


#popup_head {padding: 2px; padding-left: 10px; padding-right: 0px;
             background-color: #2D6277; color: white; position: absolute; top: -24px; left: 0px; cursor: move; width: 100%}
#popup_head span {height: 15px; display: inline-block;}
#popup_close {cursor: default; position: absolute; right: 5px; top: 5px;}
#popup_content {max-height: 700px; overflow-y: auto; margin-bottom: 0px; padding: 5px; padding-left: 15px; padding-right: 15px;}

h2 {font-size: 20px; color: #337ab7; text-align: center;}

.navbar-default {margin-bottom: 0px;}


.edit, .del, .copy, .show1, .docs {width:30px; padding: 0px; text-align: center;}
.del a img, .edit a img, .copy a img, .show1 a img, .docs img {width:20px; padding: 0px; margin: 0px;}


/*   +++++++++++++++++++  sortable */
#sortable{width:400px;}
ul{ list-style-position: inside;}
.highlight{background-color:#d6d88e;}
li ul {margin-left: 25px;}


#sortable  {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: 0 1px 2px #D1D1D1;
  color: #666666;
  font-size: 12px;
  margin: 0 auto 10px;
  width: 100%;
  list-style-type:none;
  & div {
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #FFFFFF;
    padding: 2px;
  }
  & div div:hover{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  }
  & ul {list-style-type:none;}
  & li {margin: 2px;}
  & span.del, & span.edit, & span.new {display: inline-block; float: right; height: 20px;}
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#del_img {display: inline-block; margin: 3px; border: 1px red solid}