%ul{:id => "c#{item.id}", :style => "display: none;"}
  - item.children.each do |category|
    %li{:id => "cc#{category.id}"}
      %div
        = category.name
        - unless category.leaf?
          %span.glyphicon.glyphicon-plus{:onclick => "$('#c#{category.id}').toggle()", :style => "cursor: pointer;"}
        %span.del{:title => "Удалить"}= link_to image_tag("remove.png"), category, method: :delete, data: { confirm: 'Точно?' } 
        %span.edit= link_to image_tag("edit.png"), edit_category_path(category)
        %span.new= link_to 'Добавить категорию', new_category_path(id: category.id), class: "btn btn-primary btn-xs" 
      = render 'children', :item => category unless category.leaf?
