.col-md-offset-2.col-md-8
  - if @category.errors.any?
    #error_explanation
      %h2 Ошибок: #{@category.errors.count}
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg  

  = form_for @category do |f|
    %table
      %tr
        %th= f.label :parent_id, "Родитель"
        %td= f.select :parent_id, nested_set_options(Category, @category) {|i| "#{'++++   ' * i.level} #{i.name}" }, |
                  { selected: @category.child? ? @category.parent_id : nil, include_blank: "Нет" } 
      %tr
        %th= f.label :name, "Наименование" 
        %td= f.text_field :name
      %tr
        %th= f.label :slug, "Слаг"
        %td= f.text_field :slug

    = f.submit "Сохранить" , class: "btn btn-primary" 
    = link_to 'Вернуться', categories_path, class: "btn btn-default" 


