.page-header
  %h2 Категории товаров

.col-md-offset-2.col-md-8
  .well.well-sm 
    = link_to "Сохранить порядок категорий", url_for(action: "index"), id: "serialize", class: "btn btn-primary" 
    = link_to 'Создать категорию', new_category_path, class: "btn btn-success"

  %ul#sortable
    - for category in Category.roots
      %li{:id => "cc#{category.id}", :class => "#{cycle("","even")}"}
        %div
          %span.btn.btn-success.btn-xs= category.name
          - unless category.leaf? 
            %span.glyphicon.glyphicon-plus{:onclick => "$('#c#{category.id}').toggle()", :style => "cursor: pointer;"}
          %span.del{:title => "Удалить"}= link_to image_tag("remove.png"), category, method: :delete, data: { confirm: 'Точно?' }
          %span.edit= link_to image_tag("edit.png"), edit_category_path(category)
          %span.new= link_to 'Добавить категорию', new_category_path(id: category.id), class: "btn btn-primary btn-xs" 
        = render 'children', :item => category unless category.leaf?



:coffeescript 
  nestsort()