.form-group.input-group
  = file_field_tag "add_img[#{rand(100000)}]"
  %span.input-group-addon
    %i.glyphicon.glyphicon-remove{:style => "cursor: pointer"} 

:coffeescript
  $(".glyphicon-remove").click ->
    $(this).parents("div").eq(0).remove()
    return
