.col-md-offset-2.col-md-8

  = form_for @product, html: { multipart: true } do |f|
    - if @product.errors.any?
      #error_explanation
        %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg

    .form-group.input-group
      %span.input-group-addon
        %i Категория:
      = f.collection_select( :category_id, Category.all, :id, :name, |
        { prompt: @product.category_id ? nil : "Выберите категорию", |
        selected: @product.category_id }, class: 'form-control' )

    .form-group.input-group
      %span.input-group-addon
        %i Наименование:
      = f.text_field :name, class: "form-control"

    .form-group.input-group
      %span.input-group-addon
        %i Слаг:
      = f.text_field :slug, class: "form-control"

    .form-group.input-group
      %span.input-group-addon
        %i Описание:
      = f.text_area :descr, class: "form-control"

    .form-group.input-group
      %span.input-group-addon
        %i Цена:
      = f.number_field :price, class: "form-control"

    .row
      .col-lg-6
        .well.well-sm
          .form-group.input-group
            %span.btn.btn-success.btn-file
              Основное изображение ...
              = f.file_field :img
          = image_tag "/img/#{@product.img}" unless @product.img.blank?
      .col-lg-6
        .well.well-sm
          .form-group.input-group
            %span.btn.btn-success.glyphicon.glyphicon-plus#add_img
              Дополнительные изображения
          - @images.each do |img|
            #del_img{:title => "Удалить", :style => "cursor: pointer", :class => "img_#{img.id}"}
              = link_to image_tag("/img/#{img.img}", style: "height: 100px;"), remove_img_products_path(id: img.id), style: "height: 100px;", remote: true, :method => :delete, :data => { :confirm => 'Точно удалить?' } unless img.img.blank?
   
   

          #images_upload

    = f.submit 'Сохранить', class: "btn btn-primary"
    = link_to 'Вернуться', products_path, class: "btn btn-default pull-right"


:coffeescript
  $("#add_img").click ->
    $.get '/products/images_upload'


