.page-header
  %h2 Товары
.well.well-sm
  = link_to 'Добавить товар', new_product_path, class: "btn btn-primary"

  = form_tag import_products_path, multipart: true, class: "pull-right" do
    .form-group.input-group
      %span.btn.btn-success.btn-file
        Загрузить из XLS
        = file_field_tag :file 
      = submit_tag "Выбрать", class: "btn btn-default"




%table#products
  %thead
    %tr
      %th Изображение
      %th К-во доп. изображений
      %th Наменование
      %th Слаг
      %th Категория
      %th Описание
      %th Цена
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= image_tag "/img/#{product.img}", style: "width: 40px" unless product.img.blank?
        %td= product.images.size
        %td= product.name
        %td= product.slug
        %td= product.category.name if product.category
        %td= product.descr
        %td= product.price
        %td.edit= link_to image_tag("edit.png"), edit_product_path(product)
        %td.del= link_to image_tag("remove.png"), product, :method => :delete, :data => { :confirm => 'Точно?' }

