!!!
%html
  %head
    %title Тестовый магазин. 
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Тest
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            %li{:class => "#{'active' if controller == 'products'}"}
              = link_to 'Товары', products_path
            %li{:class => "#{'active' if controller == 'categories'}"}
              = link_to 'Категории', categories_path

  .container.content
    - if flash
      - flash.each do |name, msg|
        .alert.alert-info.alert-dismissable
          = msg
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;

    #popup.col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.well.well-sm
      #popup_head.col-md-12 
        %span 
        #popup_close.glyphicon.glyphicon-remove-circle
      #popup_content

    = yield
